.app-container {
  margin: 1em 2em;

  .todo-title {
    color: darkblue;
  }

  .todo-table {
    width: 100%;

    & > thead {
      td {
        border-bottom: 5px solid darkblue;
      }
    }

    td {
      font-size: 1.2rem;
      text-align: center;
      padding: 0.5em;
    }

    input[type="text"], input[type="number"] {
      font-size: 1.1rem;
    }

    .add-todo-button {
      color: darkblue;
      font-size: 1.1rem;
      border: 1px solid darkblue;
      padding: 0 1rem;
      margin-top: 0.5rem;
      cursor: pointer;
    }
  }
}
