.app-container {
  margin: 1em 2em;

  .todo-title {
    color: darkblue;
  }

  .todo-table {
    width: 100%;

    & > thead {
      td {
        border-bottom: 5px solid darkblue;
      }
    }

    td {
      font-size: 1.2rem;
      text-align: center;
      padding: 0.5em;
    }
  }
}
